@media (max-width:800px) {
    #home .navebar .logo {
        width: 150px;
    }

    #home .navebar nav ul a {
        margin: 0px 5px;
    }

    #about .row,
    #help .row,
    #contact .row,
    #newsletter .row {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    #info .row,
    #services .row,
    #price-list .row,
    #doctors .row,
    #blogs .row,
    #footer .footer-top .row {
        grid-template-columns: repeat(2fr,1fr);
        row-gap: 2rem;
    }
    #contact .row img {
        width: 100%;
        order: 1;
    }
    #contact .row form{
        order: 2;
    }

}

@media (max-width:650px){
    .title h2{
        font-size: 22px;
    }
    #call .call-content h2{
        font-size: 22px;
    }
    #home .navebar nav{
        flex-direction: column;
        padding: 10px 0px;
    }
    #home .home-content .col h1{
        font-size: 32px;
    }
    #home .home-content .col{
        margin-bottom: 10px;
    }
    #info .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #info .row .col{
        flex-direction: column;
        text-align: center;
    }
    #info .row .col i{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    #services .row,#price-list .row, #doctors .row,#blogs .row,#footer .footer-top .row{
        grid-template-columns: 1fr;
    }

}